@import '../../base';

.game {
    @include minWidth();
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: $primary-color;
    height: 100vh;
    width: 100vw;
    max-width: 70rem;
    gap: 2rem;
    z-index: 1000;
    transition: ease-in-out .5s;
}