// Color Palette

$primary-color: #6023ed;
$second-color: white;

//  End color palette

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    appearance: none;
    border: none;
}

:root {
    font-size: 62.5%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dropShadow() {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px, rgba(0, 0, 0, 0.30) 0px 3px 6px;
}

@mixin minWidth {
    min-width: 320px;
}