/* reset button */
@import 'base';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $second-color;
    background: $primary-color;
    width: 100vw;
    height: 100vh;
    @include minWidth();
}

div {
    font-family: 'Bangers', cursive;
    font-size: 5rem;

}
