/* reset button */
@import 'base';

.content {
    color: $second-color;
    background: $primary-color;
    width: 100vw;
    height: 100vh;
    @include minWidth();
    @include flexCenter();
}

div {
    font-family: $font-primary;
    font-size: 5rem;
}
