@import '../../../base';

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $symbol-size;
    height: $cell-size;
    width: $cell-size;
    color: $second-color;
    border: .6rem solid $third-color;
    cursor: pointer;
    &:nth-child(-n + 9) {
        border-top: none;
        border-left: none;
    }
    &:nth-child(n + 7) {
        border-bottom: none;
    }
    &:nth-child(n + 7) {
        border-bottom: none;
    }
    &:nth-child(3n +3) {
        border-right: none;
    }
}

.cell.x,
.cell.o {
    cursor: not-allowed;
    &::after, &::before {
        background-color: $second-color;
    }
}

.cell.x {
    &::after, &::before {
        position: absolute;
        content: "";
        width: calc(#{$cell-size * 0.2});
        height: $symbol-size;
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(-45deg);
    }
}

.cell.o {
    &::after, &::before {
        position: absolute;
        content: "";
        width: symbol-size;
        height: $symbol-size;
        border-radius: 50%;
    }
    &::after{
        width: calc(#{$cell-size * 0.5});
        height: calc(#{$cell-size * 0.5});
        background-color: $primary-color;
    }
    &::before {
        width: calc(#{$cell-size * 0.9});
        height: calc(#{$cell-size * 0.9});
    }
}